---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import HowItWorks from '../components/HowItWorks.astro';
import GetStarted from '../components/GetStarted.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="PomodoroFocus - Boost Your Productivity">
	<Header />
	<main>
		<Hero />
		<Features />
		<HowItWorks />
		<GetStarted />
	</main>
	<Footer />
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
	}
</style>